@import "./Utils/constants.scss";
@import "./utils/layouts";
@import "./utils/blocks";

.activities {
    @include section;
    align-items: center;
    background: map-get($background, seccion-oscuro);
    padding-left: calc($padding-X-mobile * 2) ;
    padding-right: calc($padding-X-mobile * 2) ;
    flex-direction: column;
    h2 {
        @include block-title-center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 16px;
    width: 80%;
    min-width: 250px;
}

@media (min-width: map-get($breakpoints, tablet)) {
    .activities {
        @include section('tablet');
    }
    .container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    };
}

@media (min-width: map-get($breakpoints, laptop)) {
    .activities {
        @include section('laptop');
    }
    .container {
        display: flex;
        width: 100%;
    };
}

@media (min-width: map-get($breakpoints, desktop)) {
    .activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @include section('desktop');
    }
}