@import "./Utils/constants.scss";
@import "./Utils/_layouts.scss";
@import "./Utils/_fonts.scss";

.home {
  @include section;
  margin-top: $navbar-height;
  flex-direction: column;
  color: $font-color-light;

  &_container {
    &_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 56px;
      text-align: center;
    }
    &_right {
      display: none;
    }
  };
  .home_text {
    p {
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  h1 {
    display: block;
    min-height: calc(11vw * 4.5);

    font-size: 11.00vw;
    font-style: normal;
    line-height: 1.47;
    font-weight: 900;
    span {
      color: map-get($colors, secundario);
    }
  }
};

@media (min-width: map-get($breakpoints, tablet)) {
  .home {
    @include section('tablet');
    height: calc(100vh - $navbar-height);
    flex-direction:column;
    gap: 64px;
    &_container {
      &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 0;
        gap: 56px;
        text-align: center;
      }
      &_right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: auto;

        background-image: url('src/assets/robot.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    h1 {
      min-height: calc(7vw * 4.5);
      font-size: 7.00vw;
    }
    &_img {
      display: none;
    };
  }
}


@media (min-width: map-get($breakpoints, laptop)) {
  .home {
    @include section('laptop');
    flex-wrap: nowrap;
    flex-direction:row;
    padding-top: 8px;
    height: auto;
    gap: 0;
    &_container {
      &_left {
        flex-grow: 1;
        height: 100%;
        padding: 0;
        text-align: left;
        justify-content: start;
      }
      &_right {
        flex-grow: 5;
      }
    }
    h1 {
      min-height: calc(3vw * 4.5);
      font-size: 3vw;
    }
  }
}







