@import "./Utils/constants.scss";
@import "./Utils/_layouts.scss";
@import "./Utils/_fonts.scss";

.home {
  @include section;
  padding-top: 24px;
  flex-direction: column;
  color: $font-color-light;
  height: calc(100vh - 70px);

  &_container {
    &_left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 56px;
      text-align: center;
    }
    &_right {
      display: none;
    }
  };
  .home_text {
    p {
      color: $font-color-light;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    hr {
      border: 1.5px solid map-get($colors, secundario);
      border-radius: 5px;
      margin: 10px auto;
      width: 90%;
    }
  }
  h1 {
    display: block;
    min-height: calc(11vw * 4.5);

    font-size: 11.00vw;
    font-style: normal;
    line-height: 1.47;
    font-weight: 900;
    span {
      color: map-get($colors, secundario);
    }
  }
  h2 {
    padding-bottom: 0;
  }
};

@media (min-width: map-get($breakpoints, tablet)) {
  .home {
    @include section('tablet');
    flex-direction:column;
    gap: 64px;
    &_container {
      &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 0;
        gap: 56px;
        text-align: center;
      }
      &_right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: auto;

        background-image: url("https://github.com/i-am-sergio/react-web-epcc/blob/main/src/assets/robot.png?raw=true");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    .home_text {
      hr {
        width: 70%;
      }
    }
    h1 {
      min-height: calc(7vw * 4.5);
      font-size: 7.00vw;
    }
    &_img {
      display: none;
    };
  }
}


@media (min-width: map-get($breakpoints, laptop)) {
  .home {
    @include section('laptop');
    padding-top: 16px;
    flex-wrap: nowrap;
    flex-direction:row;
    height: auto;
    gap: 0;
    &_container {
      &_left {
        width: 60%;
        height: 100%;
        gap: 32px;
        padding: 0;
        text-align: left;
        justify-content: start;
      }
      &_right {
        width: 40%;
      }
    }
    .home_text {
      hr {
        width: 90%;
        margin: 0;
        margin: 8px 0;
      }
    }
    h1 {
      min-height: calc(5.4rem * 3.7);
      font-size: 5.4rem;
      line-height: 1.2;
    }
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .home {
    @include section('desktop');
    &_container {
      &_left {
        width: 50%;
      }
      &_right {
        width: 50%;
      }
    }
    h1 {
      min-height: calc(7.2rem * 3.7);
      font-size: 7.2rem;
      line-height: 1.2;
    }
  }
}







