@import "./Utils/constants.scss";
@import "./Utils/layouts.scss";
@import "./Utils/fonts";

.container_stats {
  display: flex;
  flex-wrap: wrap;
  background-color:  #00020A;
  border-radius: 5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.375rem 0.375rem 0.375rem 0.375rem;
    .stat_item{
      width: 50%;
      display: flex;
      flex-direction:row;
      align-items: center;
      h4{
        color: $font-color-light;
        font-size: 7vw;
        font-weight: 700;
      }
      p{
        color: map-get($colors, secundario);
        font-size: 3vw;
        font-weight: 700;
      }
  }
}

@media (max-width: 374px), (min-width: map-get($breakpoints, mobile)) {
  .container_stats {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border-radius: 2rem;
      gap: calc(15% - 1rem);
          .stat_item {
              width: 25%;
              flex-direction: column;
          h4 {
              font-size: 8vw;
          }
          p {
              font-size: 3vw;
              white-space: pre-line;
          }
        }
  }
}
@media (min-width: map-get($breakpoints, tablet)) {
  .container_stats {
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 2rem;
      flex-direction: row;
      gap: 5rem;
          .stat_item {
              width: auto;
              flex-direction: column;
          h4 {
              font-size: 7vw;
          }
          p {
              font-size: 2vw;
          }
        }
  }
}
@media (min-width: map-get($breakpoints, laptop)) {
  .container_stats {
      margin-top: auto;
      justify-content: center;
      gap: 12rem;
      padding: 1rem 1rem 1rem 1rem;
        .stat_item {
          h4 {
              font-size: 4rem;
              line-height: 1;
          }
          p {
              font-size: 1.4rem;
          }
        }
  }
}
