@import "./Utils/constants.scss";
@import "./Utils/_layouts.scss";
@import "./utils/blocks";

// Usar mobile first. :D
// Parte definiendo los estilos para version mobile.

.contenedor {
    // importar los paddings de la vista mobile
    @include section();

    // especificamente, para cada seccion el titulo debe 
    // tener el estilo
    h2 {
        @include block-title-center;
    }
    
    // formas de usar variables:
    // ez
    color: $font-color-light;
    // De una clase
    background-color: map-get($background, seccion-oscuro);

    p { // equivale a ".contenedor p"
    }

    .contenedor2 { //equivale a .contenedor_container
        &_1 {
            display: none;
        }
        &_2 {
          display: none;
        }
    };

}

// No es necesario usar todos los media queries.

@media (min-width: map-get($breakpoints, tablet)) {
    @include section('tablet');
}

@media (min-width: map-get($breakpoints, laptop)) {
    @include section('laptop');
}

@media (min-width: map-get($breakpoints, desktop)) {
    @include section('desktop');
}