$padding-X-mobile: 16px;
$padding-Y-mobile: 32px;

$padding-X-tablet: 32px;
$padding-Y-tablet: 64px;

$padding-X-laptop: 64px;
$padding-Y-laptop: 64px;

$padding-X-desktop: 96px;
$padding-Y-desktop: 96px;

$padding-X-wide: 128px;
$padding-Y-wide: 96px; 


@mixin section($size: mobile) {
    display: flex;
    @if($size == "mobile") {
        padding: $padding-Y-mobile $padding-X-mobile;
    }
    @else if($size == "tablet") {
        padding: $padding-Y-tablet $padding-X-tablet;
    }
    @else if($size == "laptop") {
        padding: $padding-Y-laptop $padding-X-laptop;
    }
    @else if($size == "desktop") {
        padding: $padding-Y-desktop $padding-X-desktop;
    }
    @else if($size == "wide") {
        padding: $padding-Y-wide $padding-X-wide;
    }
}
