$colors: (
  principal: red,
  secundario: #73ff32,    
);

//font colors
$font-color-light: white;

// font-size
$font-size-title: 8rem;

$navbar-height: 10rem;

$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1920px,
);

