$colors: (
  principal: red,
  secundario: #73ff32,    
);

$background: (
  fondo_gradiente: linear-gradient(180deg, #04279C 0%, #210742 34%, #031A66 68.89%, #130328 99.48%),
);

//font colors
$font-color-light: white;

// font-size
$font-size-title: 8rem;

$navbar-height: 10rem;

$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1920px,
);

