.img-unsa{
    height: 80%;
    /* align-content: center; */
}
.txt-img-unsa{
    padding-top: 20px;
    padding-left: 25px;
    font-size: larger;
    white-space: nowrap;
}

.unsa-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
  }



@media screen and (max-width: 768px) {
    .unsa-container{
        display: flex;
        justify-content: center;
        align-items: center; /* Alinea verticalmente al centro */
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .txt-img-unsa{
        padding-top: 20px;
        text-align: center;
        padding-left: 25px;
        font-size: larger;
        white-space: nowrap;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinea verticalmente al centro */
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
      }
}