.upper-container {
    background-color: transparent;
    width: 500px;
    border-bottom: 2px solid #73ff32;
    padding-left: 0;
}

.upper-content {
    background-color: transparent;
    font-family: "poppins";
    font-size: 1.9vh;
    width: 100%;
}

.green-text{
    color: #7fff43;
}

.animation1{
    height: 100px;
}

.contador-styles{
    padding-top: 20px;
}

@media screen and (max-width: 500px) {
    .upper-container {
        width: 100%;
    }
    .upper-content {
        font-size: 1.3vh;
    }
}